@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");

:root {
  --primaryBg: #ffffff;
  --secondaryBg: #d9d9d9;
  --borderColor: #d9d9d9;
  --primaryText: #000000;
  --highlight: #95f5dc;
  --subText: #c1b8b8;
  --primaryButtonBg: #55efc4;
  --secondaryButtonBg: #4943da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--primaryBg);
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

/* job card */

#job-card {
  border: 0.2rem solid var(--borderColor);
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 22%;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#job-card:hover {
  transform: scale(1.03);
}

#job-card #time-posted {
  width: max-content;
  border: 0.2rem solid var(--borderColor);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: var(--primaryText);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem;
}

#job-card #company-logo {
  width: 8%;
}

#job-card .company-title {
  font-size: 1.4rem;
  color: var(--subText);
  font-weight: bold;
}

#job-card .position {
  font-size: 1.5rem;
  color: var(--primaryText);
}

#job-card .location {
  font-size: 1.3rem;
  color: var(--primaryText);
}

#job-card .about-company-heading {
  font-size: 1.6rem;
  color: var(--primaryText);
}

#job-card .company-description {
  font-size: 1.3rem;
  color: var(--primaryText);
}

#job-card .read-more-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.4rem;
  padding: 1rem;
}

#job-card .read-more {
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(to top, #ffffff, #ffffffcb);
  text-align: center;
}

#job-card .card-footer {
  width: 100%;
  background-color: #ffffff;
}

#job-card .job-experience {
  align-self: flex-start;
}

#job-card .job-experience .experience-title {
  font-size: 1.3rem;
  color: var(--subText);
}

#job-card .job-experience .experience-value {
  font-size: 1.2rem;
  color: var(--primaryText);
}

#job-card .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 98%;
  margin-top: 1rem;
}

#job-card .btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#job-card .btn-primary {
  background-color: var(--primaryButtonBg);
  color: var(--primaryText);
  border: 1px solid var(--primaryButtonBg);
}

#job-card .btn-secondary {
  background-color: var(--secondaryButtonBg);
  color: var(--primaryBg);
  border: 1px solid var(--secondaryButtonBg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.avatar-group-overlay {
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 1.4rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  z-index: 100;
}

/* errors */
.retry-btn {
  font-size: 18px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}

.no-data-img {
  width: 35%;
  display: block;
  margin: 10px auto;
}

/*filters css */
.filter {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter-label {
  font-size: 1.3rem;
  color: var(--primaryText);
  font-weight: bold;
  visibility: hidden;
  width: max-content;
}

.filter-focused {
  visibility: visible;
}

/* input wrapper*/
.filter-wrapper {
  padding: 0.2rem;
  border: 0.2rem solid var(--borderColor);
  border-radius: 0.3rem;
}

.filter-search {
  padding: 0.5rem 0.2rem;
  font-size: 1.2rem;
  color: var(--primaryText);
  border: none;
  outline: none;
  width: max-content;
}

.selectedValues {
  padding: 0.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  background: gray;
  width: max-content;
  background-color: var(--secondaryBg);
  border-radius: 0.2rem;
}

.selectedValues-container {
  width: max-content;
}

/* option container */

.flex {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.filter-options-wrapper {
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  max-height: 20rem;
  overflow: auto;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  margin-top: 7px;
}

.show-filter-options {
  display: block;
}

.filter-options {
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.filter-options:hover {
  background-color: var(--highlight);
}

/* close icon */
svg {
  cursor: pointer;
}

.filter-close-icon {
  border-radius: 0.5rem;
}

.filter-close-icon:hover {
  background: rgba(255, 0, 0, 0.455);
}
